table{
    border-collapse: collapse;
    border: solid, 1px;
    border-color: black;
    width: 766px;
    height: 36px;
    background-color: #000033;
}
.titulo{
    font-family: Arial;
    font-weight: bold;
    font-style: italic;
    font-size: 15px;
    color: #FFF;
}
.origem{
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    color: #280;
    background-color: #FFF;
}
.resumo{
    font-family: Arial;
    font-size: 12px;
    background-color: #FFF;
}
#rodape{
    font-family: Arial;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    background-color: #CBF;
}